[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
databases = "*"
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
uvicorn = "*"
pydantic = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.8"
